<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Sql
4. Java

Some of the commonly used libraries used by Data Scientists include: 

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy

Data Science Tools

   | No | Data Science Tools |
   |----|--------------------|
   | 1. |   MATLAB           |
   | 2. |   EXCEL            |
   | 3. |   Tableau          |

Below are a few examples of evaluating arithmetic expressions in Python:
1. a+b
2. a-b
3. c/d
4. a*b

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min = int(200)
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)
# This will convert 200 minutes to hours by diving by 60

Hour : Minute :-->  3  :  20

List popular languages for Data Science:

- Python
- R
- Sql
- Java

<h2>Author</h2>

- Lakshmi Holla
- Niveditha Pandith